*{
    padding: 0;
    margin:0;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.title {
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    margin: 0;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

.subtitle {
    margin-top: .5rem;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

.hide {
    display: none;
}

.pipe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(var(--pipe-width)* 1px);
    left: calc(var(--pipe-left)* 1px);
}

.pipe > .segment {
    position:absolute;
    width: 100%;
    background-color: blue;
}

.pipe > .top {
    top: 0;
    bottom: calc(var(--hole-top) * 1px);
    border-radius: 15px;
}

.pipe > .bottom {
    bottom: 0;
    top: calc(100vh - (var(--hole-top) * 1px) + calc(var(--hole-height)* 1px));
    border-radius: 15px;
}

.bird {
    /*
    background-color: red;
    position: absolute;
    --bird-top: -1000;
    --bird-size: 60px;
    width: var(--bird-size);
    height: var(--bird-size);
    left: var(--bird-size);
    top: calc(var(--bird-top) *1px);
    border-radius: 50%;
*/

border-right: 30px solid transparent;
border-top: 30px solid yellow;
border-left: 30px solid yellow;
border-bottom: 30px solid yellow;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
position: absolute;
--bird-top: -1000;
--bird-size: 60px;
width: var(--bird-size), 0px;
height: var(--bird-size), 0px;
left: var(--bird-size);
top: calc(var(--bird-top) *1px);
        
      

}

